In [119]:
import pandas as pd

In [72]:
automobile_data = pd.read_csv("Automobile_data.csv", index_col=0)

### First 7 rows

In [73]:
automobile_data.head(7)

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0

### Last 7 rows

In [74]:
automobile_data.tail(7)

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0
80,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0
81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

### Cleaning the Data

In [75]:
automobile_data.shape

(61, 9)

In [76]:
automobile_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61 entries, 0 to 88
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   company           61 non-null     object
 1   body-style        61 non-null     object
 2   wheel-base        61 non-null     float64
 3   length            61 non-null     float64
 4   engine-type       61 non-null     object
 5   num-of-cylinders  61 non-null     object
 6   horsepower        61 non-null     int64
 7   average-mileage   61 non-null     int64
 8   price             58 non-null     float64
dtypes: float64(3), int64(2), object(4)
memory usage: 4.8+ KB

We can see that of all the attributes, only the 'price' column has missing values.

In [77]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

categorical_data = automobile_data.select_dtypes(exclude=numerics)
d = {}
for col in categorical_data.columns:
    d[col] = categorical_data[col].unique()
df = pd.DataFrame.from_dict(d, orient='index')
df.transpose()

          company   body-style engine-type num-of-cylinders
0     alfa-romero  convertible        dohc             four
1            audi    hatchback        ohcv              six
2             bmw        sedan         ohc             five
3       chevrolet        wagon           l            three
4           dodge      hardtop       rotor           twelve
5           honda         None        ohcf              two
6           isuzu         None       dohcv            eight
7          jaguar         None        None             None
8           mazda         None        None             None
9   mercedes-benz         None        None             None
10     mitsubishi         None        None             None
11         nissan         None        None             None
12        porsche         None        None             None
13         toyota         None        None             None
14     volkswagen         None        None             None
15          volvo         None        None             None

Since there are no values filled in as '?' or 'n.a' in all the categorical attributes, we don't need to replace anything. As 'price' is a numerical attribute, instead of filling the missing values with 'NaN', we could fill them with the mean of the column so as to preserve the data type of the column which is currently 'float64'.

In [78]:
mean_val = round(automobile_data['price'].mean(), 2)
automobile_data['price'].fillna(mean_val, inplace=True)

In [79]:
automobile_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61 entries, 0 to 88
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   company           61 non-null     object
 1   body-style        61 non-null     object
 2   wheel-base        61 non-null     float64
 3   length            61 non-null     float64
 4   engine-type       61 non-null     object
 5   num-of-cylinders  61 non-null     object
 6   horsepower        61 non-null     int64
 7   average-mileage   61 non-null     int64
 8   price             61 non-null     float64
dtypes: float64(3), int64(2), object(4)
memory usage: 4.8+ KB

In [80]:
automobile_data['price'][31]

15387.0

In [81]:
automobile_data.to_csv('Automobile_data_cleaned.csv')

### Most Expensive Car

In [97]:
most_expensive = automobile_data[automobile_data['price'] == automobile_data['price'].max()].values

In [98]:
print(f"The most expensive car is a {most_expensive[0][0]} - {most_expensive[0][1]} coming in at {most_expensive[0][8]}")

The most expensive car is a mercedes-benz - hardtop coming in at 45400.0

### Least Expensive Car

In [99]:
least_expensive = automobile_data[automobile_data['price'] == automobile_data['price'].min()].values

In [101]:
print(f"The least expensive car is a {least_expensive[0][0]} - {least_expensive[0][1]} coming in at {least_expensive[0][8]}")

The least expensive car is a chevrolet - hatchback coming in at 5151.0

### Details of Volvo Cars

In [102]:
automobile_data.loc[automobile_data['company'] == 'volvo']

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

### Count total cars per company

In [106]:
for c in automobile_data['company'].unique():
    print(f"{c} : {automobile_data['company'].value_counts()[c]}")

alfa-romero : 3
audi : 4
bmw : 6
chevrolet : 3
dodge : 2
honda : 3
isuzu : 3
jaguar : 3
mazda : 5
mercedes-benz : 4
mitsubishi : 4
nissan : 5
porsche : 3
toyota : 7
volkswagen : 4
volvo : 2

### Highest Priced car of each company

In [114]:
for c in automobile_data['company'].unique():
    rows = automobile_data.loc[automobile_data['company'] == c]
    print(f"{c} : {rows['price'].max()}")

alfa-romero : 16500.0
audi : 18920.0
bmw : 41315.0
chevrolet : 6575.0
dodge : 6377.0
honda : 12945.0
isuzu : 15387.0
jaguar : 36000.0
mazda : 18344.0
mercedes-benz : 45400.0
mitsubishi : 8189.0
nissan : 13499.0
porsche : 37028.0
toyota : 15750.0
volkswagen : 9995.0
volvo : 13415.0

### Avg. Mileage of each car making company

In [116]:
for c in automobile_data['company'].unique():
    rows = automobile_data.loc[automobile_data['company'] == c]
    print(f"{c} : {round(rows['average-mileage'].mean(), 2)}")

alfa-romero : 20.33
audi : 20.0
bmw : 19.0
chevrolet : 41.0
dodge : 31.0
honda : 26.33
isuzu : 33.33
jaguar : 14.33
mazda : 28.0
mercedes-benz : 18.0
mitsubishi : 29.5
nissan : 31.4
porsche : 17.0
toyota : 28.71
volkswagen : 31.75
volvo : 23.0

### Sort all cars by price

In [118]:
automobile_data.sort_values(by=['price'])

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
16,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0
36,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0
66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
49,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
37,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0
...,...,...,...,...,...,...,...,...,...
15,bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0
62,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0
46,mercedes-benz,sedan,120.9,208.1,ohcv,eight,184,14,40960.0
14,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0
47,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0