In [148]:
import pandas as pd

In [149]:
summer_start = "20100601 00:00"
summer_end = "20100901 00:00"

dec_start = "20101201 00:00"
dec_end = "20101231 23:00"

jan_start = "20100101 00:00"
feb_end = "20100228 23:00"

spring_start = "20100301 00:00"
spring_end = "20100531 23:00"

autumn_start = "20100801 00:00"
autumn_end = "20101130 23:00"

In [150]:
weather = pd.read_csv('weather_data_austin_2010.csv')

In [151]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8759 entries, 0 to 8758
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Temperature  8759 non-null   float64
 1   DewPoint     8759 non-null   float64
 2   Pressure     8759 non-null   float64
 3   Date         8759 non-null   object
dtypes: float64(3), object(1)
memory usage: 273.8+ KB

Fetching the Indices for where each season starts and ends:

In [109]:
srow_start = (weather[weather['Date']==summer_start].index.values)[0]
srow_end = (weather[weather['Date']==summer_end].index.values)[0]

In [110]:
decrow_start = (weather[weather['Date']==dec_start].index.values)[0]
decrow_end = (weather[weather['Date']==dec_end].index.values)[0] + 2

In [111]:
jrow_start = (weather[weather['Date']==jan_start].index.values)[0]
frow_end = (weather[weather['Date']==feb_end].index.values)[0] + 1

In [112]:
sprow_start = (weather[weather['Date']==spring_start].index.values)[0]
sprow_end = (weather[weather['Date']==spring_end].index.values)[0] + 1

In [113]:
arow_start = (weather[weather['Date']==autumn_start].index.values)[0]
arow_end = (weather[weather['Date']==autumn_end].index.values)[0] + 1

In [114]:
summer = weather[srow_start : srow_end]

In [115]:
jan_feb = weather[jrow_start : frow_end]

In [116]:
december = weather[decrow_start : decrow_end]

In [117]:
winter = pd.concat([december, jan_feb])

In [118]:
spring = weather[sprow_start : sprow_end]

In [119]:
autumn = weather[arow_start : arow_end]

In [120]:
summer_avg = round(summer['Temperature'].mean(), 2)
winter_avg = round(winter['Temperature'].mean(), 2)

print(f"Avg. Temperature in Summer: {summer_avg} Farenheit")
print(f"Avg. Temperature in Winter: {winter_avg} Farenheit")

Avg. Temperature in Summer: 82.81 Farenheit
Avg. Temperature in Winter: 51.65 Farenheit

### Temperature difference between Spring through Summer and Autumn through Winter

In [121]:
sum_spring_temp = round(pd.concat([summer['Temperature'], spring['Temperature']]).mean(), 2)
aut_winter_temp = round(pd.concat([autumn['Temperature'], winter['Temperature']]).mean(), 2)

In [122]:
print(f"Avg. Temperature in summer and spring is {sum_spring_temp}")
print(f"Avg. Temperature in autumn and winter is {aut_winter_temp}")
print(f"The difference is {round(sum_spring_temp - aut_winter_temp, 2)}")

Avg. Temperature in summer and spring is 75.52
Avg. Temperature in autumn and winter is 63.95
The difference is 11.57

### Correlation between Temperature and Dewpoint

In [123]:
cor = weather['Temperature'].corr(weather['DewPoint'])

In [124]:
print(f"Pearson's Correlation between temperature and dewpoint is {cor}")

Pearson's Correlation between temperature and dewpoint is 0.8727727759507186

Which is a really high value for correlation coefficient. Suggesting that the two columns are strongly corrrelated.

### Down Sampling Data from Hours to Days

In [141]:
days = []
for day in range(1, len(weather['Date'].values)+1, 24):
        days.append(weather['Date'][day][:8])

In [142]:
data = pd.DataFrame(columns = ['Temperature', 'DewPoint', 'Pressure', 'Date'])

In [143]:
i = 0
for day in days:
    rows = weather.loc[weather['Date'].str.startswith(day)]
    data.loc[i] = [round(rows['Temperature'].mean(), 1), round(rows['DewPoint'].mean(), 1), round(rows['Pressure'].mean(), 1), day]
    i += 1

In [146]:
data.describe()

       Temperature    DewPoint  Pressure
count   365.000000  365.000000     365.0
mean     68.076164   55.936712       1.0
std      12.226653   11.733933       0.0
min      48.800000   37.000000       1.0
25%      56.700000   44.300000       1.0
50%      69.000000   57.300000       1.0
75%      80.500000   68.500000       1.0
max      84.500000   70.500000       1.0

In [152]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 0 to 364
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Temperature  365 non-null    float64
 1   DewPoint     365 non-null    float64
 2   Pressure     365 non-null    float64
 3   Date         365 non-null    object
dtypes: float64(3), object(1)
memory usage: 14.3+ KB

In [154]:
data.head()

   Temperature  DewPoint  Pressure      Date
0         49.3      37.7       1.0  20100101
1         49.8      38.4       1.0  20100102
2         49.9      38.3       1.0  20100103
3         49.7      38.0       1.0  20100104
4         49.8      38.1       1.0  20100105

In [155]:
data.to_csv('weather_data_austin_2010_DownSampled.csv')